@model List<BICDirectoryEntry>

@{
    ViewData["Title"] = "Результат";
}
<script>
    var bicDirectoryEntries = @Html.Raw(Json.Serialize(Model));

    console.log(bicDirectoryEntries);
</script>

<div class="text-center">
    <h1 class="display-4">Результат загрузки</h1>
    <p>Ваши данные:</p>

    <table>
        <thead>
            <tr>
                <th>Название организации</th>
                <th>БИК</th>
                <th>Количество счетов</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>
                        <details>
                            <summary>@entry.ParticipantInfos.NameP</summary>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Номер счета</th>
                                        <th>Тип счета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in entry.Accounts)
                                    {
                                        <tr>
                                            <td>@account.AccountNumber</td>
                                            <td>@account.RegulationAccountType</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </details>
                    </td>
                    <td>@entry.BIC</td>
                    <td>@entry.Accounts.Count</td>
                </tr>
             
            }
        </tbody>

    </table>
</div>